.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms cubic-bezier(0.25, 0.57, 0.63, 0.92),
    visibility 1000ms cubic-bezier(0.25, 0.57, 0.63, 0.92);
  &.is-hidden {
    .modal {
      transform: translate(-50%, -50%) scale(0.2) rotate(0deg);
    }
  }
}
