.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  span {
    color: var(--logo-color-two);
  }
  @include desk {
    font-size: 26px;
    line-height: 1.19;
  }
}
