:root {
  --main-color: #212121;
  --background-color-main: #ffffff;
  --background-color-hero: #2f303a;
  --background-color-footer: #2f303a;
  --background-color-team: #f5f4fa;
  --btn-color-one: #2196f3;
  --btn-color-two: #f5f4fa;
  --active-page-color: #2196f3;
  --logo-color-one: #000000;
  --logo-color-two: #2196f3;
  --logo-color-three: #ffffff;
  --contact-header-color: #757575;
  --paragraph-color: #757575;
  --what-we-do-text-color: #ffffff;
  --portfolio-content-text: #ffffff;
  --accent-color-one: #188ce8;
  --accent-color-two: #2196f3;
  --h1-color: #ffffff;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --address-footer-color: #ffffff;
  --button-text-color: #ffffff;
  --button-accent-bckgrnd: #188ce8;
  --icon-color-one: #afb1b8;
  --icon-color-two: #ffffff;
}
