.header {
  background-color: var(--background-color-main);
  border-bottom: 1px solid #ececec;
  position: relative;
}
.header__container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header__logo {
  color: var(--logo-color-one);
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
  @include tab {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include desk {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.site-nav {
  display: none;
  @include tab {
    display: flex;
    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  padding: 32px 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  &:hover,
  &:focus {
    color: var(--accent-color-one);
  }
}

.site-nav__link--active {
  position: relative;
  color: var(--active-page-color);
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--active-page-color);
  }
}

.header__contact-box {
  display: none;
  margin-left: auto;
  @include tab {
    display: block;
  }
  @include desk {
    display: flex;
    align-items: baseline;
  }
}

.header-contacts__link {
  @include tab {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--contact-header-color);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include desk {
    font-size: 14px;
    line-height: 1.14;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
    & + & {
      margin-left: 30px;
    }
  }
  &:hover,
  &:focus {
    color: var(--accent-color-two);
    .header-contacts__icon {
      fill: var(--accent-color-two);
    }
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: var(--contact-header-color);
  @include tab {
    &--desk {
      display: none;
    }
  }
  @include desk {
    &--tab {
      display: none;
    }
    &--desk {
      display: block;
    }
  }
}

// //////MENU

.menu-open-btn {
  border-style: none;
  background-color: transparent;
  width: 44px;
  height: 44px;
  margin-left: auto;
  &:focus,
  &:hover {
    .menu-open-btn__icon {
      fill: var(--accent-color-two);
    }
  }
  @include tab {
    display: none;
  }
}
.menu {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--background-color-main);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  @include tel {
    width: 480px;
  }
  @include tab {
    width: 768px;
  }
  @include desk {
    width: 1200px;
  }
}
.menu-close-btn {
  position: absolute;
  top: -38px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: transparent;
  &:hover,
  &:focus {
    .menu-close__icon {
      fill: var(--accent-color-two);
    }
  }
}
.menu-site-nav__item {
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}
.menu-site-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color);
  &--active {
    color: var(--active-page-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color-one);
  }
  @media screen and (max-width: 380px) {
    font-size: 32px;
  }
}
.menu-contacts {
  margin-top: auto;
}
.menu-contacts__link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: var(--accent-color-one);
  }
  &--tel {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-color-two);
  }
  &--mail {
    margin-bottom: 64px;
    font-size: 24px;
    line-height: 1.17;
    color: var(--paragraph-color);
  }
  @media screen and (max-width: 380px) {
    &--tel {
      font-size: 22px;
      line-height: 1.17;
    }
    &--mail {
      font-size: 18px;
      line-height: 1.14;
      color: var(--paragraph-color);
    }
  }
}

.menu-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -10px;
}

.menu-social__item {
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -10px;
      height: 100%;
      width: 2px;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color-two);
  &:hover,
  &:focus {
    color: var(--accent-color-one);
  }
}
