.team {
  background-color: #f5f4fa;
}

.team__title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @include desk {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team-list {
  display: block;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.team-list__item {
  width: 100%;
  background-color: var(--background-color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  margin-bottom: 30px;
  @include only_tel_responsive {
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include only_tab {
    width: calc(100% / 2 - (30px - 30px / 2));
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @include desk {
    width: calc(100% / 4 - (30px - 30px / 4));
    margin-right: 30px;
    padding-bottom: 30px;
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}

.team-list__img {
  display: block;
  margin-bottom: 30px;
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.member-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 16px;
}

.team__social-link {
  &:hover,
  &:focus {
    background-color: var(--accent-color-two);
    .team__social-icon {
      fill: #ffffff;
    }
  }
}
.team__social-icon {
  fill: var(--icon-color-one);
}
